body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:675px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u2 {
  position:absolute;
  left:110px;
  top:695px;
  width:375px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u5 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u7 {
  position:absolute;
  left:113px;
  top:63px;
  width:370px;
  height:16px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:346px;
  top:719px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u11 {
  position:absolute;
  left:362px;
  top:699px;
  width:17px;
  height:17px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:110px;
  top:696px;
  width:75px;
  height:38px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u15 {
  position:absolute;
  left:289px;
  top:699px;
  width:17px;
  height:17px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:280px;
  top:719px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19 {
  position:absolute;
  left:216px;
  top:699px;
  width:17px;
  height:17px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:212px;
  top:719px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23 {
  position:absolute;
  left:143px;
  top:699px;
  width:17px;
  height:17px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:139px;
  top:719px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:431px;
  top:719px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u29 {
  position:absolute;
  left:435px;
  top:699px;
  width:17px;
  height:17px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:10px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:111px;
  top:470px;
  width:373px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u33 {
  position:absolute;
  left:113px;
  top:480px;
  width:57px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u34 {
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:110px;
  top:506px;
  width:375px;
  height:2px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:465px;
  top:483px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u39 {
  position:absolute;
  left:110px;
  top:508px;
  width:221px;
  height:40px;
  font-size:11px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:217px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u41 {
  position:absolute;
  left:419px;
  top:508px;
  width:64px;
  height:40px;
  font-size:11px;
  text-align:left;
}
#u42 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u43 {
  position:absolute;
  left:112px;
  top:548px;
  width:221px;
  height:40px;
  font-size:11px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:2px;
  top:13px;
  width:217px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u45 {
  position:absolute;
  left:421px;
  top:548px;
  width:64px;
  height:40px;
  font-size:11px;
  text-align:left;
}
#u46 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:110px;
  top:546px;
  width:375px;
  height:2px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u49 {
  position:absolute;
  left:269px;
  top:85px;
  width:57px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u50 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u51 {
  position:absolute;
  left:157px;
  top:290px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:154px;
  top:350px;
  width:63px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u55 {
  position:absolute;
  left:267px;
  top:290px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:273px;
  top:350px;
  width:49px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u59 {
  position:absolute;
  left:378px;
  top:290px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:384px;
  top:350px;
  width:49px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:110px;
  top:120px;
  width:375px;
  height:150px;
  overflow:hidden;
}
#u63_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u67 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u69 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u71 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u72 {
  position:absolute;
  left:135px;
  top:65px;
  width:101px;
  height:18px;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u63_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u77 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u79 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u81 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u82 {
  position:absolute;
  left:135px;
  top:65px;
  width:101px;
  height:18px;
  font-size:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u63_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u87 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u89 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u91 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u92 {
  position:absolute;
  left:135px;
  top:65px;
  width:101px;
  height:18px;
  font-size:16px;
}
#u93 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u63_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u97 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u99 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u101 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u102 {
  position:absolute;
  left:135px;
  top:65px;
  width:101px;
  height:18px;
  font-size:16px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u63_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u107 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u109 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:149px;
}
#u111 {
  position:absolute;
  left:2px;
  top:66px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u112 {
  position:absolute;
  left:135px;
  top:65px;
  width:101px;
  height:18px;
  font-size:16px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u114 {
  position:absolute;
  left:155px;
  top:386px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u116 {
  position:absolute;
  left:155px;
  top:446px;
  width:62px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u117 {
  position:absolute;
  left:0px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u118 {
  position:absolute;
  left:268px;
  top:386px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u120 {
  position:absolute;
  left:274px;
  top:446px;
  width:49px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u121 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u122 {
  position:absolute;
  left:379px;
  top:386px;
  width:60px;
  height:60px;
  font-size:20px;
}
#u123 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u124 {
  position:absolute;
  left:385px;
  top:446px;
  width:49px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u125 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u126 {
  position:absolute;
  left:452px;
  top:90px;
  width:20px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u128 {
  position:absolute;
  left:2716px;
  top:2795px;
  width:64px;
  height:64px;
}
#u129 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u130 {
  position:absolute;
  left:113px;
  top:81px;
  width:30px;
  height:34px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u130_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u130.mouseOver {
}
#u130_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u130.mouseDown {
}
#u130_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u130.selected {
}
#u131 {
  position:absolute;
  left:0px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
