body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:675px;
}
#u614 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u616 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:60px;
}
#u617 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u618 {
  position:absolute;
  left:113px;
  top:63px;
  width:370px;
  height:16px;
}
#u619 {
  position:absolute;
  left:2px;
  top:0px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u620 {
  position:absolute;
  left:110px;
  top:122px;
  width:375px;
  height:2px;
}
#u621 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
}
#u624 {
  position:absolute;
  left:126px;
  top:195px;
  width:103px;
  height:80px;
}
#u625 {
  position:absolute;
  left:2px;
  top:32px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u626 {
  position:absolute;
  left:126px;
  top:195px;
  width:100px;
  height:79px;
}
#u627 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u628 {
  position:absolute;
  left:126px;
  top:195px;
  width:100px;
  height:79px;
}
#u629 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u630 {
  position:absolute;
  left:113px;
  top:165px;
  width:227px;
  height:42px;
  text-align:left;
}
#u631 {
  position:absolute;
  left:2px;
  top:13px;
  width:223px;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:110px;
  top:328px;
  width:375px;
  height:2px;
}
#u633 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u634 {
  position:absolute;
  left:269px;
  top:85px;
  width:57px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u635 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u636 {
  position:absolute;
  left:352px;
  top:285px;
  width:57px;
  height:27px;
  font-size:11px;
  text-align:left;
}
#u637 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u638 {
  position:absolute;
  left:431px;
  top:285px;
  width:62px;
  height:27px;
  font-size:11px;
  text-align:left;
}
#u639 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u640 {
  position:absolute;
  left:416px;
  top:292px;
  width:15px;
  height:15px;
}
#u641 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u642 {
  position:absolute;
  left:171px;
  top:125px;
  width:51px;
  height:20px;
  font-size:11px;
  text-align:left;
}
#u643 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u644 {
  position:absolute;
  left:113px;
  top:130px;
  width:30px;
  height:30px;
}
#u645 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u646 {
  position:absolute;
  left:171px;
  top:145px;
  width:71px;
  height:20px;
  font-size:8px;
  text-align:left;
}
#u647 {
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
}
#u650 {
  position:absolute;
  left:239px;
  top:195px;
  width:103px;
  height:80px;
}
#u651 {
  position:absolute;
  left:2px;
  top:32px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u652 {
  position:absolute;
  left:239px;
  top:195px;
  width:100px;
  height:79px;
}
#u653 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u654 {
  position:absolute;
  left:239px;
  top:195px;
  width:100px;
  height:79px;
}
#u655 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:110px;
  top:328px;
  width:375px;
  height:2px;
}
#u657 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
}
#u660 {
  position:absolute;
  left:126px;
  top:401px;
  width:103px;
  height:80px;
}
#u661 {
  position:absolute;
  left:2px;
  top:32px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u662 {
  position:absolute;
  left:126px;
  top:401px;
  width:100px;
  height:79px;
}
#u663 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u664 {
  position:absolute;
  left:126px;
  top:401px;
  width:100px;
  height:79px;
}
#u665 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u666 {
  position:absolute;
  left:113px;
  top:371px;
  width:227px;
  height:42px;
  text-align:left;
}
#u667 {
  position:absolute;
  left:2px;
  top:13px;
  width:223px;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  position:absolute;
  left:110px;
  top:518px;
  width:375px;
  height:2px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u670 {
  position:absolute;
  left:352px;
  top:491px;
  width:57px;
  height:27px;
  font-size:11px;
  text-align:left;
}
#u671 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u672 {
  position:absolute;
  left:431px;
  top:491px;
  width:62px;
  height:27px;
  font-size:11px;
  text-align:left;
}
#u673 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u674 {
  position:absolute;
  left:416px;
  top:498px;
  width:15px;
  height:15px;
}
#u675 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u676 {
  position:absolute;
  left:171px;
  top:331px;
  width:51px;
  height:20px;
  font-size:11px;
  text-align:left;
}
#u677 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u678 {
  position:absolute;
  left:113px;
  top:336px;
  width:30px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u680 {
  position:absolute;
  left:171px;
  top:351px;
  width:71px;
  height:20px;
  font-size:8px;
  text-align:left;
}
#u681 {
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
}
#u684 {
  position:absolute;
  left:239px;
  top:401px;
  width:103px;
  height:80px;
}
#u685 {
  position:absolute;
  left:2px;
  top:32px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u686 {
  position:absolute;
  left:239px;
  top:401px;
  width:100px;
  height:79px;
}
#u687 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:79px;
}
#u688 {
  position:absolute;
  left:239px;
  top:401px;
  width:100px;
  height:79px;
}
#u689 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:113px;
  top:120px;
  width:372px;
  height:165px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u691 {
  position:absolute;
  left:113px;
  top:328px;
  width:372px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u692 {
  position:absolute;
  left:110px;
  top:695px;
  width:375px;
  height:40px;
}
#u693 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:346px;
  top:719px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u696 {
  position:absolute;
  left:362px;
  top:699px;
  width:17px;
  height:17px;
}
#u697 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:187px;
  top:696px;
  width:75px;
  height:38px;
}
#u699 {
  position:absolute;
  left:2px;
  top:11px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u700 {
  position:absolute;
  left:289px;
  top:699px;
  width:17px;
  height:17px;
}
#u701 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:280px;
  top:719px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u704 {
  position:absolute;
  left:216px;
  top:699px;
  width:17px;
  height:17px;
}
#u705 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:212px;
  top:719px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u708 {
  position:absolute;
  left:143px;
  top:699px;
  width:17px;
  height:17px;
}
#u709 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:139px;
  top:719px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:431px;
  top:719px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u714 {
  position:absolute;
  left:435px;
  top:699px;
  width:17px;
  height:17px;
}
#u715 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
  text-align:left;
}
#u716 {
  position:absolute;
  left:431px;
  top:123px;
  width:54px;
  height:24px;
  color:#FF9933;
  text-align:left;
}
#u717 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:416px;
  top:568px;
  width:60px;
  height:60px;
}
#u720 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u721 {
  position:absolute;
  left:431px;
  top:573px;
  width:30px;
  height:30px;
}
#u722 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u723 {
  position:absolute;
  left:427px;
  top:602px;
  width:37px;
  height:26px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u724 {
  position:absolute;
  left:0px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:10px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:111px;
  top:318px;
  width:373px;
  height:10px;
}
#u726 {
  position:absolute;
  left:2px;
  top:-3px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u727 {
  position:absolute;
  left:316px;
  top:88px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u728 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_ann {
  position:absolute;
  left:329px;
  top:104px;
  width:1px;
  height:1px;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u729 {
  position:absolute;
  left:239px;
  top:120px;
  width:54px;
  height:24px;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u730 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u731 {
  position:absolute;
  left:239px;
  top:328px;
  width:54px;
  height:24px;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u732 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u733 {
  position:absolute;
  left:452px;
  top:90px;
  width:20px;
  height:20px;
}
#u734 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
