body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:675px;
}
#u800 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u802 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:60px;
}
#u803 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u804 {
  position:absolute;
  left:103px;
  top:53px;
  width:370px;
  height:16px;
}
#u805 {
  position:absolute;
  left:2px;
  top:0px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u806 {
  position:absolute;
  left:103px;
  top:75px;
  width:30px;
  height:30px;
}
#u807 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u808 {
  position:absolute;
  left:395px;
  top:437px;
  width:30px;
  height:30px;
}
#u809 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u810 {
  position:absolute;
  left:103px;
  top:110px;
  width:100px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u811 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u812 {
  position:absolute;
  left:115px;
  top:147px;
  width:30px;
  height:30px;
}
#u813 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u814 {
  position:absolute;
  left:148px;
  top:140px;
  width:76px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u815 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
  text-align:left;
}
#u816 {
  position:absolute;
  left:148px;
  top:164px;
  width:76px;
  height:19px;
  font-size:10px;
  color:#868686;
  text-align:left;
}
#u817 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:183px;
}
#u820 {
  position:absolute;
  left:130px;
  top:225px;
  width:315px;
  height:183px;
}
#u821 {
  position:absolute;
  left:2px;
  top:84px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:181px;
}
#u822 {
  position:absolute;
  left:130px;
  top:225px;
  width:312px;
  height:181px;
}
#u823 {
  position:absolute;
  left:2px;
  top:82px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:181px;
}
#u824 {
  position:absolute;
  left:130px;
  top:225px;
  width:312px;
  height:181px;
}
#u825 {
  position:absolute;
  left:2px;
  top:82px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  position:absolute;
  left:100px;
  top:426px;
  width:375px;
  height:2px;
}
#u827 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u828 {
  position:absolute;
  left:115px;
  top:453px;
  width:30px;
  height:30px;
}
#u829 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u830 {
  position:absolute;
  left:148px;
  top:446px;
  width:76px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u831 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
  text-align:left;
}
#u832 {
  position:absolute;
  left:148px;
  top:470px;
  width:76px;
  height:19px;
  font-size:10px;
  color:#868686;
  text-align:left;
}
#u833 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u834 {
  position:absolute;
  left:103px;
  top:687px;
  width:375px;
  height:1px;
}
#u835 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u836 {
  position:absolute;
  left:151px;
  top:489px;
  width:324px;
  height:46px;
  font-size:12px;
  text-align:left;
}
#u837 {
  position:absolute;
  left:2px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u838 {
  position:absolute;
  left:130px;
  top:185px;
  width:320px;
  height:36px;
  font-size:12px;
  text-align:left;
}
#u839 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u840 {
  position:absolute;
  left:132px;
  top:693px;
  width:109px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u841 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u842 {
  position:absolute;
  left:324px;
  top:693px;
  width:109px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u843 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
}
#u844 {
  position:absolute;
  left:290px;
  top:696px;
  width:1px;
  height:20px;
}
#u845 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u846 {
  position:absolute;
  left:103px;
  top:724px;
  width:375px;
  height:1px;
}
#u847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:100px;
  top:535px;
  width:375px;
  height:2px;
}
#u849 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
