body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1144 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:675px;
  color:#FFFFFF;
}
#u1145 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1147 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:60px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u1149 {
  position:absolute;
  left:237px;
  top:78px;
  width:101px;
  height:24px;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u1150 {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u1151 {
  position:absolute;
  left:103px;
  top:53px;
  width:370px;
  height:16px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:0px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1153 {
  position:absolute;
  left:403px;
  top:78px;
  width:72px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1154 {
  position:absolute;
  left:0px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  position:absolute;
  left:103px;
  top:106px;
  width:373px;
  height:5px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:-6px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1157 {
  position:absolute;
  left:100px;
  top:106px;
  width:375px;
  height:2px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1159 {
  position:absolute;
  left:109px;
  top:72px;
  width:30px;
  height:30px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u1161 {
  position:absolute;
  left:108px;
  top:106px;
  width:100px;
  height:40px;
  color:#AEAEAE;
  text-align:left;
}
#u1162 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u1163 {
  position:absolute;
  left:412px;
  top:217px;
  width:55px;
  height:40px;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u1164 {
  position:absolute;
  left:2px;
  top:13px;
  width:51px;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1165 {
  position:absolute;
  left:267px;
  top:264px;
  width:30px;
  height:30px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1167 {
  position:absolute;
  left:307px;
  top:259px;
  width:100px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u1168 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1169 {
  position:absolute;
  left:100px;
  top:247px;
  width:375px;
  height:2px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
