body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1484 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:675px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1487 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:60px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u1489 {
  position:absolute;
  left:103px;
  top:53px;
  width:370px;
  height:16px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:0px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u1491 {
  position:absolute;
  left:237px;
  top:76px;
  width:101px;
  height:24px;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u1492 {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u1493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1493 {
  position:absolute;
  left:103px;
  top:73px;
  width:30px;
  height:30px;
}
#u1494 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1495 {
  position:absolute;
  left:100px;
  top:138px;
  width:375px;
  height:2px;
}
#u1496 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1497 {
  position:absolute;
  left:117px;
  top:144px;
  width:60px;
  height:60px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1499 {
  position:absolute;
  left:199px;
  top:144px;
  width:205px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u1500 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1501 {
  position:absolute;
  left:199px;
  top:179px;
  width:80px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u1502 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
  text-align:left;
}
#u1503 {
  position:absolute;
  left:291px;
  top:184px;
  width:80px;
  height:20px;
  color:#FF6600;
  text-align:left;
}
#u1504 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1505 {
  position:absolute;
  left:316px;
  top:111px;
  width:125px;
  height:24px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1506 {
  position:absolute;
  left:0px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u1507 {
  position:absolute;
  left:412px;
  top:113px;
  width:15px;
  height:20px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1509 {
  position:absolute;
  left:391px;
  top:143px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u1510 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1511 {
  position:absolute;
  left:387px;
  top:181px;
  width:87px;
  height:31px;
  font-size:11px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  position:absolute;
  left:100px;
  top:214px;
  width:375px;
  height:2px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1515 {
  position:absolute;
  left:117px;
  top:220px;
  width:60px;
  height:60px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1517 {
  position:absolute;
  left:199px;
  top:220px;
  width:205px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u1518 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1519 {
  position:absolute;
  left:199px;
  top:255px;
  width:80px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u1520 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
  text-align:left;
}
#u1521 {
  position:absolute;
  left:291px;
  top:260px;
  width:80px;
  height:20px;
  color:#FF6600;
  text-align:left;
}
#u1522 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1523 {
  position:absolute;
  left:391px;
  top:219px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u1524 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1525 {
  position:absolute;
  left:387px;
  top:257px;
  width:87px;
  height:31px;
  font-size:11px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1527 {
  position:absolute;
  left:100px;
  top:288px;
  width:375px;
  height:2px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1529 {
  position:absolute;
  left:117px;
  top:294px;
  width:60px;
  height:60px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1531 {
  position:absolute;
  left:199px;
  top:294px;
  width:205px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u1532 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1533 {
  position:absolute;
  left:199px;
  top:329px;
  width:80px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u1534 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
  text-align:left;
}
#u1535 {
  position:absolute;
  left:291px;
  top:334px;
  width:80px;
  height:20px;
  color:#FF6600;
  text-align:left;
}
#u1536 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1537 {
  position:absolute;
  left:391px;
  top:293px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u1538 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1539 {
  position:absolute;
  left:387px;
  top:331px;
  width:87px;
  height:31px;
  font-size:11px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1541 {
  position:absolute;
  left:100px;
  top:362px;
  width:375px;
  height:2px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1543 {
  position:absolute;
  left:117px;
  top:368px;
  width:60px;
  height:60px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1545 {
  position:absolute;
  left:199px;
  top:368px;
  width:205px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u1546 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1547 {
  position:absolute;
  left:199px;
  top:403px;
  width:80px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u1548 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
  text-align:left;
}
#u1549 {
  position:absolute;
  left:291px;
  top:408px;
  width:80px;
  height:20px;
  color:#FF6600;
  text-align:left;
}
#u1550 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1551 {
  position:absolute;
  left:391px;
  top:367px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u1552 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1553 {
  position:absolute;
  left:387px;
  top:405px;
  width:87px;
  height:31px;
  font-size:11px;
}
#u1554 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1555 {
  position:absolute;
  left:100px;
  top:438px;
  width:375px;
  height:2px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1557 {
  position:absolute;
  left:117px;
  top:444px;
  width:60px;
  height:60px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1559 {
  position:absolute;
  left:199px;
  top:444px;
  width:205px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u1560 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1561 {
  position:absolute;
  left:199px;
  top:479px;
  width:80px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u1562 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
  text-align:left;
}
#u1563 {
  position:absolute;
  left:291px;
  top:484px;
  width:80px;
  height:20px;
  color:#FF6600;
  text-align:left;
}
#u1564 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1565 {
  position:absolute;
  left:391px;
  top:443px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u1566 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1567 {
  position:absolute;
  left:387px;
  top:481px;
  width:87px;
  height:31px;
  font-size:11px;
}
#u1568 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1569 {
  position:absolute;
  left:100px;
  top:512px;
  width:375px;
  height:2px;
}
#u1570 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1571 {
  position:absolute;
  left:117px;
  top:518px;
  width:60px;
  height:60px;
}
#u1572 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1573 {
  position:absolute;
  left:199px;
  top:518px;
  width:205px;
  height:25px;
  font-size:14px;
  text-align:left;
}
#u1574 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1575 {
  position:absolute;
  left:199px;
  top:553px;
  width:80px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u1576 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
  text-align:left;
}
#u1577 {
  position:absolute;
  left:291px;
  top:558px;
  width:80px;
  height:20px;
  color:#FF6600;
  text-align:left;
}
#u1578 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1579 {
  position:absolute;
  left:391px;
  top:517px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u1580 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1581 {
  position:absolute;
  left:387px;
  top:555px;
  width:87px;
  height:31px;
  font-size:11px;
}
#u1582 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1583 {
  position:absolute;
  left:446px;
  top:78px;
  width:20px;
  height:20px;
}
#u1584 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1585 {
  position:absolute;
  left:148px;
  top:111px;
  width:125px;
  height:24px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1586 {
  position:absolute;
  left:0px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u1587 {
  position:absolute;
  left:244px;
  top:113px;
  width:15px;
  height:20px;
}
#u1588 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1589 {
  position:absolute;
  left:401px;
  top:558px;
  width:60px;
  height:60px;
}
#u1590 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1591 {
  position:absolute;
  left:411px;
  top:568px;
  width:40px;
  height:40px;
}
#u1592 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1593 {
  position:absolute;
  left:553px;
  top:558px;
  width:100px;
  height:60px;
}
#u1594 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1595 {
  position:absolute;
  left:553px;
  top:588px;
  width:0px;
  height:0px;
}
#u1595_seg0 {
  position:absolute;
  left:-102px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1596 {
  position:absolute;
  left:-101px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
